<!--If a visitor is not signed in, presents with sign up or login option-->
{% extends "base.html" %}
{% block content %}

<section class="hero-head has-background-dark">
    <header>
        <div class="title has-text-white is-1">Gamble</div>
        <h2 class="subtitle has-text-white">Tinder for videogames</h2>
    </header>
</section>

<section class="content has-background-dark">
    <p> <a href="{{ url_for('auth.login') }}" class="button is-medium is-rounded">Login</a></p>
    <a href="{{ url_for('auth.signup') }}" class="button is-medium is-rounded">Sign Up</a>

</section>

{% endblock %}