<!-- Add videogame stuff here-->
{% extends "base.html" %}
{% block content %}

</body>
<!--"is-multiline is-mobile"-->

<div class="columns is-centered">


  <nav class="level">
  <div class="level-left">
  
  <div class="column has-text-right has-background-dark is-mobile">
    <figure class="media-left ">
    
      <a href="{{ url_for('main.home') }}">
        <button class="button downvote is-danger is-inverted ">
          <i class="fa fa-thumbs-down fa-2x"></i>
        </button>
      </a>
    </figure>
  </div>
</div>



  <div class="level-center">
<div class="column has-background-dark is-static">
<div class="box is-bordered has-shadow">

<h3> {{ game[0] }}</h3>
  <div class="card is-small">
    <div class="card-image is-bordered has-shadow">
      <figure class="image is-half-desktop">
        <!--Need to return game image-->
        <img src="{{ game[3] }}" alt="Image Not Found">
      </figure>
    </div>
  </div>
    <div class="card-content">
      
      <div class="content is-7"><br>
        Release Date: {{ game[1] }}<br>
        Publisher: {{ game[2] }}<br>
        Genre: {{ game[4] }}<br>
      </div>
  </div>

    <div class="content">Description
      
      <p> {{ game[5] }} .. </p>
    </div>
  </div>
  
  <div>
    <button class="button watch" onclick="window.open('https://store.steampowered.com/search/?term={{game[0]}}', '_blank')"target='0'>
      Buy it now!
      <i class="fa fa-steam"></i>
    </button>
  </div>
  
</div>
</div>

<div class="level-right">
  <div class="column has-background-dark is-mobile">
    <figure class="media-right">
 
      <a href="{{ url_for('main.home') }}">  
        <button class="button upvote is-success is-inverted">
          <i class="fa fa-thumbs-up fa-2x"></i>
        </button>
      </a>
    </figure>
    
  </div>
</div> 



</div>
{% endblock %}