body {
    font-family: 'Open Sans', sans-serif;
}

p {
    color: rgb(140,140,140);
    margin-bottom: 6px !important;
}

 
is-vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

